**Analysis owner**: Felipe Matheus <br>
**Date**: 18/02/2021 <br>
**Related JIRA issue**:  https://hurbcom.atlassian.net/browse/ML-42

This notebook objective is to model the chats distribution logic that will be used as a feature to the attendants prediction model.

Once we have the amount of chats per week and our ML model predicting for each hour, we need to find the best way to distribute those chats for each one of the 168 hours of the week.

We are going to analyze the daily/"hourly" statistic distribution of chats during some date range.

# Setup

In [2]:
import pandas as pd
import holidays
import os
import json
from datetime import datetime

In [3]:
from src.DatasetLoader import DatasetLoader
from src.feature_engineering.FeatureEngineering import FeatureEngineering
from src.pre_processing.Processing import Processing
from src.metrics.Evaluations import Evaluations

%load_ext autoreload
%autoreload 2

In [4]:
with open('../configurations/variables.json') as json_file:
    var = json.load(json_file)
BUCKET = var.get('BUCKET')
FOLDER = var.get('FOLDER')
MILESTONES = var.get('MILESTONES')
CONVERT_WEEKDAY = var.get("CONVERT_WEEKDAY")

In [5]:
load = DatasetLoader()
feng = FeatureEngineering()
processing = Processing()
evaluations = Evaluations()

# Loading DataFrames
And adding weekdays and hours as columns
- All data until July 14
- All data until July 14 excluding holidays

In [6]:
df = feng.get_feature_engineered_df(
    processing.select_time_interval(
        load.load_query('kpis_chats_hour', BUCKET=BUCKET, FOLDER=FOLDER),
        MILESTONES['Q1_2020'][0],
        MILESTONES['Q1_2020'][1],
        'exclude')[['time','missed','week_day','chats', 'TMA', 'TME']],
    processing.select_time_interval(
        load.load_query('attendants_chats_hour', BUCKET=BUCKET, FOLDER=FOLDER),
        MILESTONES['Q1_2020'][0],
        MILESTONES['Q1_2020'][1],
        'exclude'
    )
)

File hurb_internal_dsc_files.notebooks_data/attendants-allocation/.kpis_chats_hour downloaded. Returning DataFrame and saving local pickle.
File hurb_internal_dsc_files.notebooks_data/attendants-allocation/.attendants_chats_hour downloaded. Returning DataFrame and saving local pickle.

In [7]:
df["week_day"] = df.index.weekday.astype(str).map(CONVERT_WEEKDAY)
df["hour"] = df.index.hour

In [8]:
df_no_hdays = processing.drop_days(df, [hd for hd in holidays.Brazil()[MILESTONES['CHAT_TEST_END']:'2020-12-31']])

## DataFrames visualization

In [9]:
df

,night,weekend,chats,TMA,TME,dropout,ct_agents,week_day,hour
time,,,,,,,,,
2019-06-16 00:00:00,True,True,24,11.275,19.697917,0.50,2,Sunday,0
2019-06-16 01:00:00,True,True,9,12.614815,9.209259,0.00,2,Sunday,1
2019-06-16 02:00:00,True,True,6,19.388889,0.761111,0.00,2,Sunday,2
2019-06-16 03:00:00,True,True,4,11.327778,0.695833,0.25,2,Sunday,3
2019-06-16 04:00:00,True,True,1,18.6,0.666667,0.00,1,Sunday,4
...,...,...,...,...,...,...,...,...,...
2021-07-14 01:00:00,True,False,26,18.634615,0.305128,0.00,21,Wednesday,1
2021-07-14 02:00:00,True,False,14,11.615476,0.313095,0.00,13,Wednesday,2
2021-07-14 03:00:00,True,False,12,11.140278,0.365278,0.00,10,Wednesday,3
2021-07-14 04:00:00,True,False,7,12.495238,0.407143,0.00,8,Wednesday,4
2021-07-14 05:00:00,True,False,1,10.45,0.400000,0.00,1,Wednesday,5

In [10]:
df_no_hdays

,night,weekend,chats,TMA,TME,dropout,ct_agents,week_day,hour
time,,,,,,,,,
2019-06-16 00:00:00,True,True,24,11.275,19.697917,0.50,2,Sunday,0
2019-06-16 01:00:00,True,True,9,12.614815,9.209259,0.00,2,Sunday,1
2019-06-16 02:00:00,True,True,6,19.388889,0.761111,0.00,2,Sunday,2
2019-06-16 03:00:00,True,True,4,11.327778,0.695833,0.25,2,Sunday,3
2019-06-16 04:00:00,True,True,1,18.6,0.666667,0.00,1,Sunday,4
...,...,...,...,...,...,...,...,...,...
2021-07-14 01:00:00,True,False,26,18.634615,0.305128,0.00,21,Wednesday,1
2021-07-14 02:00:00,True,False,14,11.615476,0.313095,0.00,13,Wednesday,2
2021-07-14 03:00:00,True,False,12,11.140278,0.365278,0.00,10,Wednesday,3
2021-07-14 04:00:00,True,False,7,12.495238,0.407143,0.00,8,Wednesday,4
2021-07-14 05:00:00,True,False,1,10.45,0.400000,0.00,1,Wednesday,5

# Getting percentual chats distributions
4 periods:
- All time
- Only before COVID - per1
- After COVID and before September - per2
- After September - per3
- After tests (March 2021) untill validation weekends '2021-06-16' - per4

With and without holidays

In [11]:
percentages = {
    "percentage_all": feng.get_specific_day_hour_percentages(df, [MILESTONES['CHAT_TEST_END'], '2021-06-16']),
    "percentage_all_no_hdays": feng.get_specific_day_hour_percentages(df_no_hdays, [MILESTONES['CHAT_TEST_END'], '2021-06-16']),
    "per_1": feng.get_specific_day_hour_percentages(df, [MILESTONES['CHAT_TEST_END'], MILESTONES['COVID']]),
    "per_1_no_hdays": feng.get_specific_day_hour_percentages(df_no_hdays,  [MILESTONES['CHAT_TEST_END'], MILESTONES['COVID']]),
    "per_2": feng.get_specific_day_hour_percentages(df, [MILESTONES['COVID'], MILESTONES["INSIDE_SALES_OFF"]]),
    "per_2_no_hdays": feng.get_specific_day_hour_percentages(df_no_hdays,  [MILESTONES['COVID'], MILESTONES["INSIDE_SALES_OFF"]]),
    "per_3": feng.get_specific_day_hour_percentages(df, [MILESTONES["INSIDE_SALES_OFF"], '2021-06-16']),
    "per_3_no_hdays": feng.get_specific_day_hour_percentages(df_no_hdays,  [MILESTONES["INSIDE_SALES_OFF"], '2021-06-16']),
    "per_4": feng.get_specific_day_hour_percentages(df, ['2021-03-01', '2021-06-16']),
    "per_4_no_hday": feng.get_specific_day_hour_percentages(df_no_hdays,  ['2021-03-01', '2021-06-16'])
}

## Percentage dict visualization
The percentage of each hour of each week day will be structured as nested dictionaries, as the following one:

In [12]:
percentages["percentage_all"]

{'Friday': {'0': 0.0025804557028799436,
  '1': 0.0014038967142989678,
  '2': 0.0007284008075281374,
  '3': 0.00045620892682025443,
  '4': 0.00038796927222025003,
  '5': 0.0006314084894730749,
  '6': 0.001543059605421449,
  '7': 0.003437668442686741,
  '8': 0.006557524111983574,
  '9': 0.009010701357969126,
  '10': 0.010298820680755728,
  '11': 0.010461369071488322,
  '12': 0.009388319671345556,
  '13': 0.009566969553612983,
  '14': 0.009629075306675908,
  '15': 0.00874195979687585,
  '16': 0.007916566671292652,
  '17': 0.006809397443849882,
  '18': 0.006461681900466713,
  '19': 0.0064497974662386225,
  '20': 0.0061588205120734355,
  '21': 0.005297390714959896,
  '22': 0.004200955815207016,
  '23': 0.0031685435127473973},
 'Monday': {'0': 0.001897292419187764,
  '1': 0.0010573312774540015,
  '2': 0.0005328826960337426,
  '3': 0.0003362144780011455,
  '4': 0.0002702750364775457,
  '5': 0.0004079044522157569,
  '6': 0.0011198203993629944,
  '7': 0.002971491925868733,
  '8': 0.007006449030728546,
  '9': 0.011229640239007473,
  '10': 0.013545954806946951,
  '11': 0.014107973535281818,
  '12': 0.013263411967395246,
  '13': 0.01388140254725596,
  '14': 0.013854950096877308,
  '15': 0.013331268253149184,
  '16': 0.01245680391526935,
  '17': 0.010728577157197328,
  '18': 0.009962606202754581,
  '19': 0.010110203208490546,
  '20': 0.010509290177246753,
  '21': 0.010162341371555719,
  '22': 0.007428921499094866,
  '23': 0.0049811114169542575},
 'Saturday': {'0': 0.0021012446452956424,
  '1': 0.0011589240216618732,
  '2': 0.0006777961198472351,
  '3': 0.0003814520018371035,
  '4': 0.0003185795110820432,
  '5': 0.0004163385668292406,
  '6': 0.0009706899182427599,
  '7': 0.002130380677596768,
  '8': 0.0036776573403249587,
  '9': 0.005191580913445282,
  '10': 0.005961002187502636,
  '11': 0.006743841371172349,
  '12': 0.006348588090876818,
  '13': 0.006072562521708261,
  '14': 0.005531629079907102,
  '15': 0.0050781037350093195,
  '16': 0.00468706751202053,
  '17': 0.004514168162444114,
  '18': 0.004434427442462086,
  '19': 0.0047560739043126694,
  '20': 0.004579724235121646,
  '21': 0.003907678647965423,
  '22': 0.0031900121681271744,
  '23': 0.002499181507513646},
 'Sunday': {'0': 0.0017309103399944948,
  '1': 0.0010592481216843387,
  '2': 0.0006049560390944214,
  '3': 0.0003764682068382268,
  '4': 0.0002683581922472085,
  '5': 0.0002997944376247386,
  '6': 0.0006302583829348726,
  '7': 0.0013463913873888519,
  '8': 0.002455477459061958,
  '9': 0.0037336291918508052,
  '10': 0.004692818044711541,
  '11': 0.005165511831912696,
  '12': 0.005035166424249766,
  '13': 0.004871084558132901,
  '14': 0.0047560739043126694,
  '15': 0.0045766572843531075,
  '16': 0.004603493103577828,
  '17': 0.004585091398966591,
  '18': 0.004849232533907058,
  '19': 0.005123724627691345,
  '20': 0.005548880677980137,
  '21': 0.005282822698809333,
  '22': 0.004347786083250845,
  '23': 0.0029450394754900796},
 'Thursday': {'0': 0.0028047264778293963,
  '1': 0.0014571849839023422,
  '2': 0.0007809223394393768,
  '3': 0.000494929180273066,
  '4': 0.0003994703376022732,
  '5': 0.0007168997421461141,
  '6': 0.001710208422306853,
  '7': 0.0038520901652856444,
  '8': 0.007689995683266794,
  '9': 0.010414214703422027,
  '10': 0.012007878996524378,
  '11': 0.012061167266127753,
  '12': 0.01090339335100408,
  '13': 0.011308997590143434,
  '14': 0.011062874790968137,
  '15': 0.010393129416888318,
  '16': 0.009549717955539948,
  '17': 0.008360507795038746,
  '18': 0.007871329147456693,
  '19': 0.007781237468630844,
  '20': 0.008141987552780306,
  '21': 0.007521313390997119,
  '22': 0.005904646967130722,
  '23': 0.004116998037918246},
 'Tuesday': {'0': 0.002955773803179968,
  '1': 0.0015564775150338093,
  '2': 0.0007862895032843209,
  '3': 0.0004753773691236265,
  '4': 0.0004144217225989034,
  '5': 0.0006524937760067841,
  '6': 0.0017194092746124715,
  '7': 0.004180637266365441,
  '8': 0.008541457890382579,
  '9': 0.01210027088842663,
  '10': 0.014025932602223385,
  '11': 0.014175829821035756,
  '12': 0.01304412498744467,
  '13': 0.013527169733489646,
  '14': 0.013358104072373905,
  '15': 0.012375913088749121,
  '16': 0.011391805260894,
  '17': 0.010222530280388307,
  '18': 0.009548567849001747,
  '19': 0.009703832231659059,
  '20': 0.009917368678918624,
  '21': 0.009799674443175919,
  '22': 0.007453457105243182,
  '23': 0.005062768981166622},
 'Wednesday': {'0': 0.0030389648427766027,
  '1': 0.0016162830550203301,
  '2': 0.0007924234048213999,
  '3': 0.00046694325451014277,
  '4': 0.00043244005836407315,
  '5': 0.0007548532579067907,
  '6': 0.0018995926322641688,
  '7': 0.004246576707889041,
  '8': 0.008187991814308399,
  '9': 0.01136343596628501,
  '10': 0.012943298980928934,
  '11': 0.013131916453194115,
  '12': 0.012102571101503036,
  '13': 0.012533094315636772,
  '14': 0.012484023103340139,
  '15': 0.011619909724304128,
  '16': 0.010783398902184972,
  '17': 0.009560452283229836,
  '18': 0.008898374286071367,
  '19': 0.009019902210274745,
  '20': 0.009279442919062403,
  '21': 0.008555642537687074,
  '22': 0.006732723674636394,
  '23': 0.004601576259347491}}

# Creating validation DataFrame

In [13]:
df_chats_validation = processing.select_time_interval_index(
    df,
    '2021-06-16',
    '2021-07-14',
    'include'
)

## Validation frame visualization
This is the DataFrame with real chats during the specified time period.

It will be used to compare with our predictions for the same time period.

In [14]:
df_chats_validation

,night,weekend,chats,TMA,TME,dropout,ct_agents,week_day,hour
time,,,,,,,,,
2021-06-16 00:00:00,True,False,44,11.597348,0.281439,0.000000,29,Wednesday,0
2021-06-16 01:00:00,True,False,36,13.985784,1.518056,0.055556,27,Wednesday,1
2021-06-16 02:00:00,True,False,13,14.162821,0.330769,0.000000,11,Wednesday,2
2021-06-16 03:00:00,True,False,1,8.433333,0.233333,0.000000,1,Wednesday,3
2021-06-16 04:00:00,True,False,7,16.6,0.433333,0.000000,7,Wednesday,4
...,...,...,...,...,...,...,...,...,...
2021-07-13 20:00:00,False,False,242,14.646963,0.382645,0.024793,61,Tuesday,20
2021-07-13 21:00:00,False,False,232,13.431962,0.418247,0.004310,51,Tuesday,21
2021-07-13 22:00:00,False,False,170,13.611176,0.368333,0.000000,37,Tuesday,22
2021-07-13 23:00:00,False,False,107,13.049214,0.411371,0.009346,36,Tuesday,23
2021-07-14 00:00:00,True,False,37,15.186486,0.256306,0.000000,26,Wednesday,0

# Comparing distributions

Each distribution score for the different types of percentages. Therefore, we can asssess which one is the most precise to use on our pipeline.

In [15]:
pd.DataFrame(
    {
        key: evaluations.get_mape_rmse_different_df(frame.chats.values, df_chats_validation.chats.values)
        for key, frame in {
            key:
                feng.set_features_specific_percentage(
                    df=feng.gen_df([datetime(2021, 6, 17), datetime(2021, 7, 15)], ['night','weekend', 'chats', 'TME', 'dropout', 'ct_agents']),
                    chats_per_week=sum(df_chats_validation.chats)/4,
                    percentage_chats=percentage,
                    dropout=0.1,
                    TME=5,
                    WDAY=CONVERT_WEEKDAY
                )
            for key, percentage in percentages.items()
        }.items()
    }
).transpose()

                              MAPE       RMSE
percentage_all           33.833019  64.493703
percentage_all_no_hdays  33.937496  64.210556
per_1                    33.759793  68.533062
per_1_no_hdays           35.349407  70.834971
per_2                    38.000121  69.892581
per_2_no_hdays           38.639498  72.281943
per_3                    33.286443  62.355700
per_3_no_hdays           33.016249  60.717818
per_4                    34.439411  68.863022
per_4_no_hday            34.439411  68.863022

# Conclusion:
Use period 3 with no holidays (the one after September) to try to predict the proportion of distribution.

# Exporting the best distribution as Json

In [16]:
with open('../configurations/days_chats_distribution.json', 'w') as fp:
    json.dump(percentages["per_3_no_hdays"], fp)

In [17]:
percentages["per_3_no_hdays"]

{'Friday': {'0': 0.0024300189485079965,
  '1': 0.0013406789708342553,
  '2': 0.0006982319834385994,
  '3': 0.0004217590909620337,
  '4': 0.00040398145486043635,
  '5': 0.0007080403343912049,
  '6': 0.0017887980049814162,
  '7': 0.0038362912663378007,
  '8': 0.006982319834385994,
  '9': 0.00937249235714903,
  '10': 0.010684359297060008,
  '11': 0.010653095178398578,
  '12': 0.009748887824955265,
  '13': 0.00984084111513594,
  '14': 0.00974704875915165,
  '15': 0.008905982664965735,
  '16': 0.007916565262621663,
  '17': 0.006773892376643128,
  '18': 0.006679486998724301,
  '19': 0.006475350694523201,
  '20': 0.005820643268436788,
  '21': 0.005100955517289364,
  '22': 0.003980964442888731,
  '23': 0.0030412018172422226},
 'Monday': {'0': 0.0016116346658999806,
  '1': 0.0008943990024907081,
  '2': 0.00043831068319455537,
  '3': 0.000271568717000263,
  '4': 0.00023233531318984124,
  '5': 0.0004278893103074121,
  '6': 0.0011598375001455926,
  '7': 0.002993999128282809,
  '8': 0.006886688412598091,
  '9': 0.010924050873464304,
  '10': 0.01297093111288615,
  '11': 0.013273150926613304,
  '12': 0.01277231200609589,
  '13': 0.013446023112152976,
  '14': 0.013196523184796076,
  '15': 0.012744726019041688,
  '16': 0.011712397081279965,
  '17': 0.009978158028472416,
  '18': 0.009465058669264245,
  '19': 0.009422760155781133,
  '20': 0.009967123633650736,
  '21': 0.00929341252759365,
  '22': 0.006797800232090105,
  '23': 0.004374524524862024},
 'Saturday': {'0': 0.0019984515065933576,
  '1': 0.0010635930564231518,
  '2': 0.0006436730312647317,
  '3': 0.0003714912923299309,
  '4': 0.00030712398920345767,
  '5': 0.0004652836483142203,
  '6': 0.001116925964727944,
  '7': 0.0023239661538329505,
  '8': 0.003927018512649401,
  '9': 0.005387236760718535,
  '10': 0.006158418354367138,
  '11': 0.0070203271943273405,
  '12': 0.0064440865758617705,
  '13': 0.005948764852755197,
  '14': 0.005513519279233331,
  '15': 0.005175131171368442,
  '16': 0.004715977742399601,
  '17': 0.004554752973616149,
  '18': 0.004449313200875641,
  '19': 0.004760115321686326,
  '20': 0.004339582274593367,
  '21': 0.0038117703889562872,
  '22': 0.0030644966507546605,
  '23': 0.0023337745047855556},
 'Sunday': {'0': 0.0016122476878345183,
  '1': 0.0009452798230573488,
  '2': 0.0005553978726912827,
  '3': 0.0003531006342937957,
  '4': 0.0002666645415239603,
  '5': 0.00029118541890547385,
  '6': 0.000692101764093221,
  '7': 0.0014387624803603098,
  '8': 0.002530554545772202,
  '9': 0.003748016107764352,
  '10': 0.004712912632726911,
  '11': 0.005107085736634743,
  '12': 0.004982642283923561,
  '13': 0.004645480219927749,
  '14': 0.0045228758330201815,
  '15': 0.004403336555785302,
  '16': 0.004424179301559589,
  '17': 0.004252533159888994,
  '18': 0.004519197701412955,
  '19': 0.004908466629844482,
  '20': 0.005039040301901042,
  '21': 0.004837356085438093,
  '22': 0.003904336701071501,
  '23': 0.0025838874540769943},
 'Thursday': {'0': 0.0026243469017564916,
  '1': 0.0013829774843173665,
  '2': 0.0007460476943325509,
  '3': 0.0005130993592081718,
  '4': 0.0004229851348311094,
  '5': 0.0008239014800188565,
  '6': 0.002016842164629493,
  '7': 0.0042212690412275645,
  '8': 0.008126218764233603,
  '9': 0.010796542311080433,
  '10': 0.012231626659833515,
  '11': 0.012183197927005026,
  '12': 0.011130026243469017,
  '13': 0.011535233742198529,
  '14': 0.011185811239511961,
  '15': 0.010518843374734792,
  '16': 0.00959685838518988,
  '17': 0.008394109349626639,
  '18': 0.008000549267653347,
  '19': 0.007802543182797624,
  '20': 0.008049591022416373,
  '21': 0.007288217779720376,
  '22': 0.005784474974299055,
  '23': 0.003934987797798393},
 'Tuesday': {'0': 0.0027745372757182626,
  '1': 0.0014743177525635045,
  '2': 0.0007509518698088537,
  '3': 0.00046099249477245545,
  '4': 0.00044260183673632025,
  '5': 0.0007252049485582644,
  '6': 0.0019800608485572224,
  '7': 0.004560270171026989,
  '8': 0.0089783192532412,
  '9': 0.012530168341953444,
  '10': 0.014255825087677462,
  '11': 0.01446670463315848,
  '12': 0.01334855262456146,
  '13': 0.013801575834184922,
  '14': 0.013499969042392305,
  '15': 0.012741660909368999,
  '16': 0.011602053133063154,
  '17': 0.010347197233064197,
  '18': 0.009827967654510645,
  '19': 0.00982674161064157,
  '20': 0.01009953637151091,
  '21': 0.009804672820998207,
  '22': 0.007434117000140382,
  '23': 0.005085016946991381},
 'Wednesday': {'0': 0.0031184425809939907,
  '1': 0.0015969221394710725,
  '2': 0.0008055108219827213,
  '3': 0.00047447897733228793,
  '4': 0.0004573143631652284,
  '5': 0.0009029813095742378,
  '6': 0.002256533741033788,
  '7': 0.0048232565809437225,
  '8': 0.008792573607076234,
  '9': 0.011741209112203244,
  '10': 0.01338226883096104,
  '11': 0.01352694200751197,
  '12': 0.0124970651574884,
  '13': 0.012822579804727993,
  '14': 0.012782733378983033,
  '15': 0.01202626431176334,
  '16': 0.011063819874538932,
  '17': 0.009876396387339136,
  '18': 0.009224754070925411,
  '19': 0.009134639846548349,
  '20': 0.009278700001164741,
  '21': 0.008389205174150337,
  '22': 0.006686843261938755,
  '23': 0.004430309520904968}}